.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
    padding: 10px 0;
}
.product img{
    margin-right: 40px;
}
.product-name{
    color: blue;
    font-weight: 600;
}
.btn-regular{
    background-color: #F0C14B;
    width: 200px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}